;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent/reagent "1.1.1"]
  [com.taoensso/timbre "5.2.1"]]

 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn main/main!}}
                :devtools {:after-load main/reload!
                           :http-root "target"
                           :http-port 8080}}}}
